#header {
    background-color: brown;
    color: white;

}

.description {
    color: white;
}

#descriptionWrapper {
    background-color: blueviolet;
}

#randomNumber {
    padding: 10px;
    background-color: green;
    margin-right: 5px;

}

#scoreCard {
    padding: 10px;
    background-color: lightblue;
}

#crystalOne {
    margin-right: 5px;
}
#crystalTwo {
    margin-right: 5px;
}
#crystalThree {
    margin-right: 5px;
}
#crystalThree {
    margin-right: 5px;
}